/* This is a 'default' style that should try to match Dataverse.
* It should minimize the differences when using that 'Metrics' link
* from within Dataverse to get to the metrics page.
*
* See: https://guides.dataverse.org/en/latest/style/foundations.html
*/

a {
  color: #337AB7;
}
a:hover {
  color: #23527C;
}

/* metrics download */
.button {
  float: right;
  z-index: 25;
  position: relative;
}
/* metrics not-download, but referring to other download */
.redundant {
  float: right;
  color: lightgrey;
  z-index: 25;
  position: relative;
}

#title, #subtitle {
  text-align: center;
}
#dvtree {
  background: cornsilk;
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
}
#dvselect {
  background: aliceblue;
}
#metrics-page-header {
 margin-bottom: 50px;
}

/* the graphs */
.viz {
  height: 500px;
  margin: 3em;
}

/* panels containg the graphs */
.panel-default>.panel-heading>.row {
  display:flex;
}
.panel-default>.panel-heading .toggle {
  margin-left:5px;
  margin-right: 10px;
}
/* separate graphs more clearly vertically */
/* bottom line for each column, except when on the last row within a panel body */
.panel-body .row:not(:last-child) div[class^="col-"] {
  border-bottom: solid lightgrey 1px;
}
